<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030034850138-310oiqk7pqc099jqtr1k0l4po1r0d6ff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030034850138-310oiqk7pqc099jqtr1k0l4po1r0d6ff</string>
	<key>API_KEY</key>
	<string>AIzaSyAWegSztzskYJLrFZ_8YrEEpqNb6DwMUbE</string>
	<key>GCM_SENDER_ID</key>
	<string>1030034850138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.prouser.test</string>
	<key>PROJECT_ID</key>
	<string>prousertest-18391</string>
	<key>STORAGE_BUCKET</key>
	<string>prousertest-18391.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030034850138:ios:c0bd56a571ae55711eb363</string>
</dict>
</plist>